.wrapper--about {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 5%;
  position: relative;
  /* display: grid;
  grid-template-columns: 3fr 1fr; */
}
/*
.section--left--about {
  width: 100%;
  height: auto;
  max-width: 768px;
  padding-top: 10%;
  padding-bottom: 12%;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}
.profile-pic {
  width: 50%;
  margin-top: 10%;
  margin-right: -50%;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  max-width: 100%;
} */
.header--mask {
  transform: translate3d(0px, -2vh, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  letter-spacing: 0;
  text-transform: none;
  font-family: "Playfair Display", sans-serif;
  font-size: 14vw;
  font-weight: 300;
  line-height: 1em;
  text-align: left;
}
.quote {
  padding-bottom: 2%;
  font-family: "Playfair Display", sans-serif;
  font-size: 36px;
  font-weight: 100;
  line-height: 1.3em;
  display: block;
}
.about--me {
  font-size: 2rem;
}
.header--a {
  text-align: left;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Playfair Display", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.75em;
  position: relative;
}
.about--button {
  background-color: var(--charcoal);
  color: var(--offwhite);
  letter-spacing: 1px;
  border-radius: 50px;
  padding: 2rem 8rem;

  font-family: "Playfair Display", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  transition: all 0.5s ease-in-out;

  text-decoration: none;
}
.about--button:hover {
  text-decoration: underline;
}
