.span {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 1300px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav--link {
    font-size: 15rem;
  }
  .description {
    letter-spacing: 0.0001rem;
    font-size: 1.1rem;
  }
  .off--white--span {
    letter-spacing: 0.0001rem;
    font-size: 1.1rem;
  }
}
@media (max-width: 1050px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .swipe--up {
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 600;
    font-style: italic;
  }
  .description {
    font-size: 1.7rem;
  }
  .span {
    font-size: 1.7rem;
  }
  .section--left {
    height: 50vh;
    padding: 20% 0 0 0;
  }
  .nav--link {
    font-size: 8rem;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding-left: 0%;
  }
  @media (max-width: 650px) {
    .nav--link {
      font-size: 6rem;
    }
    .nav--left {
      width: 100%;
      height: auto;
      flex-direction: row;
      padding-bottom: 0;
      padding-left: 0;
      position: static;
      justify-content: flex-start;
      align-items: center;
      padding-top: 5%;
    }

    .nav--copyright {
      position: relative;
      top: 0%;
    }
    .nav--left--item {
      transform: rotate(0deg);
    }
    .nav--line {
      width: 10rem;
      height: 0.09rem;
      margin-bottom: 5rem;

      /* margin-top: 0;
        margin-bottom: 0; */
    }
    .copyright {
      text-align: right;
    }
    .nav--left--item.nav--copyright {
      flex: 1;
      position: static;
    }
    /* .nav--left--link {
        text-align: center;
        letter-spacing: 5px;
        text-transform: uppercase;
        border: 0 solid #000;
        font-family: Montserrat, sans-serif;
      } */
  }
}
