html,
body {
  background-color: #1a1818;
}
.description.off--white {
  font-size: 1.5rem;
}
.off--white--span {
  font-size: 1.5rem;
}
@media (max-width: 1300px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .swipe--up {
    margin-top: 5rem;
  }
  .description.off--white {
    font-size: 1.5rem;
  }
  .off--white--span {
    font-size: 1.5rem;
  }
  .section--left {
    height: 50vh;
    padding: 20% 0 0 0;
  }
  .nav--link.off--white {
    font-size: 8rem;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding-left: 0%;
  }

  @media (max-width: 950px) {
    .nav--line {
      width: 10rem;
      height: 0.09rem;
      margin-bottom: 5rem;

      /* margin-top: 0;
        margin-bottom: 0; */
    }
    .nav--link.off--white {
      font-size: 7rem;
    }
    .nav--link {
      font-size: 10rem;
    }
    .nav--left {
      width: 100%;
      height: auto;
      flex-direction: row;
      padding-bottom: 0;
      padding-left: 0;
      position: static;
      justify-content: flex-start;
      align-items: center;
      padding-top: 5%;
    }

    .nav--copyright {
      position: relative;
      top: 0%;
    }
    .nav--left--item {
      transform: rotate(0deg);
    }
    .nav--line--offwhite {
      width: 10rem;
      height: 0.09rem;
      margin-bottom: 5rem;

      /* margin-top: 0;
      margin-bottom: 0; */
    }
    .copyright {
      text-align: right;
    }
    .nav--left--item.nav--copyright {
      flex: 1;
      position: static;
    }
    /* .nav--left--link {
      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      border: 0 solid #000;
      font-family: Montserrat, sans-serif;
    } */
  }
}
